Repository CS3219-AY2324S1/ay2324s1-course-assessment-g11, pull requests merged in 2023-10, with the labels that each got.

#78 Matching service - more features
  prisma/migrations/20231007082338_change_id_to_string/migration.sql
  prisma/migrations/20231007082711_change_id_to_string/migration.sql
  prisma/migrations/20231008065348_matching_service_extension/migration.sql
  prisma/schema.prisma
  services/matching-service/README.md
  services/matching-service/src/app.ts
  services/matching-service/src/controllers/matchingController.ts
  services/matching-service/src/routes/index.html
  services/matching-service/src/routes/matchingRoutes.ts
  services/matching-service/swagger-output.json
Labels: M2-Matching Service, p.High, backend

#91 Auth checker and logged in nav bar
  frontend/src/components/common/auth-checker.tsx
  frontend/src/components/common/navbar.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/questions/[id]/index.tsx
Labels: s.ToReview

#121 Enhance question service-frontend linkage
  frontend/package.json
  frontend/src/components/common/difficulty-selector.tsx
  frontend/src/components/questions/columns.tsx
  frontend/src/components/questions/data-table.tsx
  frontend/src/hooks/useQuestions.ts
  frontend/src/pages/api/questionHandler.ts
  frontend/src/pages/questions/[id]/edit.tsx
  frontend/src/pages/questions/[id]/index.tsx
  frontend/src/pages/questions/_form.tsx
  frontend/src/pages/questions/index.tsx
  frontend/src/pages/questions/new.tsx
  frontend/src/types/QuestionTypes.ts
  services/gateway/src/auth/auth.ts
  services/gateway/src/auth/firebase.ts
  services/matching-service/src/controllers/matchingController.ts
  services/question-service/questions.json
  services/question-service/src/generate-mongodb-schema.ts
  services/question-service/src/routes/index.ts
  services/question-service/swagger-output.json
  services/user-service/openapiDoc.json
  start-app-no-docker.sh
  yarn.lock
Labels: help wanted, M3-Question Service, p.High, s.ToReview, scope.large, frontend

#172 Fix frontend build issue
  frontend/src/components/room/video-room.tsx
  frontend/src/components/ui/spotlight.tsx
  frontend/src/hooks/useCollaboration.tsx
  frontend/src/pages/interviews/find-match.tsx
  frontend/src/pages/interviews/index.tsx
  frontend/src/pages/questions/[id]/edit.tsx
  frontend/src/pages/questions/[id]/index.tsx
  frontend/src/pages/questions/index.tsx
  frontend/src/pages/room/[id].tsx
  start-app-no-docker.sh
Labels: bug, p.Crtitical, s.ToReview
